body {font-family: 'Outfit', sans-serif;
text-align: center;
background-color: hsl(212, 45%, 89%);}
section { border-radius: 12px;
       background-color: white;
    height: 420px;
    width: 290px;
    position: absolute; top: 130px; left: 40%;
    box-shadow: 5px 10px 40px hsl(241, 100%, 89%);}
.div1 {background-color: #2b7dfa; 
width: 91%;
height: 59%;
margin-top: 12px;
margin-left: 12px;
border-radius: 12px;}
img { border-radius: 12px;}

.p1 {font-weight: 700; font-size: 18.5px; color: #1c2137;}
.p2 {color: hsl(220, 15%, 55%);
    font-size:  13px; font-weight: 400; }